#App {
  text-align: center;
  max-height: 100vh;
  /* display: grid;
  grid-template-rows: 2in auto */
}

#container-preview {
  height: 20vh;
  max-height: 20vh;
  border: red;

  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
}

#container-preview--hidden {
  height: 0vh;
  overflow: hidden;
}

#container-preview > span {
  display: inline-block;
  /* float: left; */
  /* margin-left: 1px;
  margin-right: 1px; */
  margin-top: 20px;
  padding: 5px;
}

.container-preview__stack--selected {
  background-color: greenyellow;
}

#product-list {
  border: solid;
  height: 40vh;
  max-height: 40vh;
  overflow: scroll;
}

#product-list__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

#product-button {
  margin: 2px;
  font-weight: bolder;
  font-size: large;
  border: solid;
}

#product-button--selected {
  background-color: lightskyblue;
  margin: 2px;
  font-weight: bolder;
  font-size: large;
}

#stack-section {
  border: solid;
  height: 30vh;
  max-height: 30vh;
  display: grid;
  grid-template-columns: auto 2cm;
  grid-template-rows: 20px auto;
}

#stack-tab {
  grid-row: 1;
}

#stack-options {
  grid-row: 2;
  grid-column: 2;
  border: solid;
}

.stack-editor {
  grid-row: 2;
  /* border: solid; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.stack-editor__bale {
  border: solid;
}

.stack-editor__bale--selected {
  border: solid blue;
}

#stack-editor__bale-1 {
  grid-column: 1;
  grid-row: 1;
}
#stack-editor__bale-2 {
  grid-column: 1;
  grid-row: 2;
}
#stack-editor__bale-3 {
  grid-column: 1;
  grid-row: 3;
}
#stack-editor__bale-4 {
  grid-column: 2;
  grid-row: 1;
}
#stack-editor__bale-5 {
  grid-column: 2;
  grid-row: 2;
}
#stack-editor__bale-6 {
  grid-column: 2;
  grid-row: 3;
}
#stack-editor__bale-7 {
  grid-column: 3;
  grid-row: 1;
}
#stack-editor__bale-8 {
  grid-column: 3;
  grid-row: 2;
}
#stack-editor__bale-9 {
  grid-column: 3;
  grid-row: 3;
}
#stack-editor__bale-10 {
  grid-column: 4;
  grid-row: 1;
}
#stack-editor__bale-11 {
  grid-column: 4;
  grid-row: 2;
}
#stack-editor__bale-12 {
  grid-column: 4;
  grid-row: 3;
}

#small-bales {
  height: fit-content;
  display: block;
  overflow: auto;
}
