#App {
  text-align: center;
  max-height: 100vh;
}




#Product-list {
  border: solid;
  height: 60vh;
  max-height: 60vh;
  

}

#product-button {
  margin: 2px;
}

#Stack {
  border: solid;
  height: 30vh;
  max-height: 30vh;
}

#small-bales {
  height: fit-content;
  display: block;
  overflow: auto;
 
}