body {
  height: 100vh;
  max-height: 100vh;
}

#App {
  text-align: center;
  max-height: 100vh;
  height: 100vh;
  /* display: grid;
  grid-template-rows: 2in auto */
}

.App__view {
  display: grid;
  grid-template-rows: 70% 30%;

  grid-template-rows: auto auto;
  height: 93vh;
  /* height: 90%; */
}

.code-input {
  height: 50px;
  width: 50px;
  font-size: 50px;
  border: solid;
  margin: 2px;
}

#container-seal-section {
  border: solid;
  height: 2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#container-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: solid;
  height: 35vh;
  max-height: 35vh;
  border: solid;
  /* float: bottom; */

  bottom: 0;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
}

#container-preview > span {
  display: inline-block;
  /* float: left; */
  /* margin-left: 1px;
  margin-right: 1px; */
  margin-top: 20px;
  padding: 5px;
}

.container-preview__stack--selected {
  background-color: greenyellow;
}

/* TODO: check if this selector is doing anything */
MuiAppBar {
  grid-row: 1;
  color: secondary;
  height: 100px;
}

/* TODO: Find selector to get this working */
MuiAppBar-colorPrimary-8 {
  color: #fff;
  background-color: #1d8549;
}

#product-list {
  /* display: grid;
  grid-template-rows: auto auto;
  height: 90%; */

  /* max-height: 100%; */
  /* overflow: hidden; */
}

#product-list__buttons {
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  overflow: scroll;
  /* margin-left: 1em;
  margin-right: 1em; */
}

#product-button {
  margin: 2px;
  font-weight: bold;
  font-size: large;
  border: solid;
  height: 50px;
}

#product-button--selected {
  background-color: lightskyblue;
  margin: 2px;
  font-weight: bolder;
  font-size: large;
}

#recallid-input {
  display: block;
  margin: 5em;
}

#response-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#response-modal__content {
  background-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: solid;
  width: 80%; /* Could be more or less, depending on screen size */
}

.code-input {
}

#splash {
  background-color: rgb(29, 133, 73);
  height: 100vh;
}

#status-bar {
  display: block;

  border: solid;
}

.status-bar__item {
  margin-left: 5em;
  margin-right: 5em;
}

#stack-section {
  grid-row: 2;
  border: solid;
  height: 30vh;
  max-height: 30vh;
  display: grid;
  grid-template-columns: auto 2cm;
  grid-template-rows: 20px auto;
}

#stack-tab {
  grid-row: 1;
}

#stack-options {
  grid-row: 2;
  grid-column: 2;
  border: solid;
}

.stack-editor {
  grid-row: 2;
  /* border: solid; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.stack-editor__bale {
  border: solid;
  height: 50px;
}

.stack-editor__bale--selected {
  border: solid blue;
}

#stack-editor__bale-1 {
  grid-column: 1;
  grid-row: 1;
}

#stack-editor__bale-2 {
  grid-column: 1;
  grid-row: 2;
}

#stack-editor__bale-3 {
  grid-column: 1;
  grid-row: 3;
}

#stack-editor__bale-4 {
  grid-column: 2;
  grid-row: 1;
}

#stack-editor__bale-5 {
  grid-column: 2;
  grid-row: 2;
}

#stack-editor__bale-6 {
  grid-column: 2;
  grid-row: 3;
}

#stack-editor__bale-7 {
  grid-column: 3;
  grid-row: 1;
}

#stack-editor__bale-8 {
  grid-column: 3;
  grid-row: 2;
}

#stack-editor__bale-9 {
  grid-column: 3;
  grid-row: 3;
}

#stack-editor__bale-10 {
  grid-column: 4;
  grid-row: 1;
}

#stack-editor__bale-11 {
  grid-column: 4;
  grid-row: 2;
}

#stack-editor__bale-12 {
  grid-column: 4;
  grid-row: 3;
}

#small-bales {
  height: fit-content;
  display: block;
  overflow: auto;
}
